<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>category</key>
		<string>Plug-ins</string>
		<key>defaultsDictionary</key>
		<dict>

		</dict>
		<key>icon</key>
		<string>Undefined</string>
		<key>nib</key>
		<string>FUPlugInPreferences</string>
		<key>ordering</key>
		<integer>1000</integer>
		<key>title</key>
		<string>Undefined</string>
		<key>shortTitle</key>
		<string>Undefined</string>
	</dict>
</plist>
